{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name|upper }}{% endblock %}

{% block body %}
    <div class="text-center">
        <h1> <b>{{ app.user.name|upper }}</b></h1>
    </div>
    <p class="lead">{{ 'title'|trans([], 'invoice') }}</p>
    <hr class="my-5">

    <div class="row justify-content-around">
        <div class="col-3 button_cont">
            <a class="button" href="{{ path('app_company_list') }}" role="button">
                <i class="fas fa-file-invoice-dollar fa-2x mb-2"></i>
                <p>{{ 'invoice.list'|trans([], 'labels')|upper }}</p>
            </a>
        </div>
        <div class="col-3 button_cont">
            <a class="button" href="{{ path('app_company_add') }}" role="button">
                <i class="fas fa-plus fa-2x mb-2"></i>
                <p>{{ 'invoice.create'|trans([], 'labels')|upper }}</p>
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-3 button_cont">
            <a class="button" href="{{ path('app_company_list') }}" role="button">
                <i class="fas fa-cog fa-2x mb-2"></i>
                <p>{{ 'invoice.settings'|trans([], 'labels')|upper }}</p>
            </a>
        </div>
    </div>

    <div class="row row justify-content-around">
        <div class="col-3 button_cont">
            <a class="button" href="{{ path('app_company_list') }}" role="button">
                <i class="far fa-address-book fa-2x mb-2"></i>
                <p>{{ 'invoice.companies'|trans([], 'labels')|upper }}</p>
            </a>
        </div>
        <div class="col-3 button_cont">
            <a class="button" href="{{ path('app_company_list') }}" role="button">
                <i class="fas fa-list-ul fa-2x mb-2"></i>
                <p>{{ 'invoice.itemList'|trans([], 'labels')|upper }}</p>
            </a>
        </div>
    </div>

{% endblock %}
