{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!{% endblock %}

{% block body %}
    <div class="text-center">
        <h1> <b>{{ user.name|upper }}</b></h1>
    </div>
    <p class="lead">{{ 'title'|trans([], 'invoice') }}</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-sm text-left">
            <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">{{ 'login'|trans([], 'main') }}</a>
        </div>
        <div class="col-sm text-right">
            <a class="btn btn-secondary btn-lg" href="{{ path('app_register') }}" role="button">{{ 'register'|trans([], 'main') }}</a>
        </div>
    </div>
{% endblock %}
