<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>20/05/1/1</title>
    <style>
        @page { margin: 0; }
        body {
            padding: 100px;
            margin: 0;
        }
        table {
            width: 100%;
        }
        .table-main, .table-logo{
            text-align: center;
        }
        .table-logo {
            width: 60%;
        }
        .table-main td, .table-main th {
            padding: 10px;
        }
        ul {
            list-style: none;
        }
        .product-name-table {
            width: 50%;
        }

        .table-main tr:nth-child(even) {
            background-color: #dddddd;
        }

        .table-footer td {
            text-align: end;
        }

    </style>
<body>
    <table class="table-header">
        <tr>
            <td>
                <table>
                    <tr>
                        <td >Faktura numer:</td>
                        <td >20/05/1/1<td/>
                    </tr>
                    <tr>
                        <td>Data wystawienia:</td>
                        <td>{{ invoice.createdAt|date("m/d/Y") }}<td/>
                    </tr>
                    <tr>
                        <td>Data sprzedazy:</td>
                        <td>{{ invoice.createdAt|date("m/d/Y") }}<td/>
                    </tr>
                    <tr>
                        <td>Termin zaplaty:</td>
                        <td>{{ invoice.payTo|date("m/d/Y") }}<td/>
                    </tr>
                </table>
            </td>
            <td class="table-logo">
                <h1>{{ invoice.byCompany.name }}</h1>
            </td>
        </tr>
    </table>

    <hr>

    <table>
        <tr>
            <th>Sprzedawca</th>
            <th>Nabywca</th>
        </tr>
        <tr>
            <td> {{ invoice.byCompany }} </td>
            <td> {{ invoice.forCompany }} </td>
        </tr>
        <tr>
            <td>
                {{ invoice.byCompany.street }}
                {{ invoice.byCompany.stNumber }}
                {{ invoice.byCompany.postCode }}
                {{ invoice.byCompany.city }}
            <td>
                {{ invoice.forCompany.street }}
                {{ invoice.forCompany.stNumber }}
                {{ invoice.forCompany.postCode }}
                {{ invoice.forCompany.city }}
            </td>
        </tr>
        <tr>
            <td> NIP {{ invoice.byCompany.nip }}  </td>
            <td> NIP {{ invoice.forCompany.nip }}  </td>
        </tr>
        <tr>
            <td> Email: {{ invoice.byCompany.email }}  </td>
        </tr>
        <tr>
            <td> Nr konta: {{ invoice.byCompany.accountNumber }}  </td>
        </tr>
    </table>

    <table class="table-main">
        <tr>
            <th class="product-name-table">Nazwa towaru/ uslugi</th>
            <th>Ilosc</th>
            <th>Wartosc netto</th>
            <th>Vat</th>
            <th>Wartosc brutto</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>5</td>
            <td>10000</td>
            <td>23%</td>
            <td>12300</td>
        </tr>
    </table>

    <hr>

    <table class="table-footer">
        <tr>
            <td class="product-name-table"></td>
            <td></td>
            <td></td>
            <td>Sum</td>
            <td>$180</td>
        </tr>
    </table>
    <p>{{ invoice.comment }}</p>
</body>
</html>