<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>20/05/1/1</title>
    <style>
        @page { margin: 0; }
        body {
            padding: 100px;
            margin: 0;
            font-size: .7em;
        }
        table {
            width: 100%;
        }
        .table-main, .table-logo, .table-footer{
            text-align: center;
        }
        .table-logo {
            width: 60%;
        }
        .table-main td, .table-main th {
            padding: 10px;
        }
        ul {
            list-style: none;
        }
        .product-name-table {
            width: 50%;
        }

        .table-main tr:nth-child(even) {
            background-color: #dddddd;
        }
        .align-left{
            text-align: left;
        }


    </style>
<body>
    <h1>{{ 'invoice.number'|trans([], 'labels') }}: {{ invoice.invoiceNumber }}</h1>
    <table class="table-header">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>{{ 'invoice.createdAt'|trans([], 'labels') }}:</td>
                        <td>{{ invoice.createdAt|date("m/d/Y") }}<td/>
                    </tr>
                    <tr>
                        <td>{{ 'invoice.salesDate'|trans([], 'labels') }}:</td>
                        <td>{{ invoice.createdAt|date("m/d/Y") }}<td/>
                    </tr>
                    <tr>
                        <td>Termin zaplaty:</td>
                        <td>{{ invoice.payTo|date("m/d/Y") }}<td/>
                    </tr>
                </table>
            </td>
            <td class="table-logo">
                <h1>{{ invoice.byCompany.name }}</h1>
            </td>
        </tr>
    </table>

    <hr>
    <br>
    <table>
        <tr>
            <th class="align-left">{{ 'template.seller'|trans([], 'labels')|capitalize }}:</th>
            <th class="align-left">{{ 'template.buyer'|trans([], 'labels')|capitalize }}:</th>
        </tr>
        <tr>
            <td> {{ invoice.byCompany }} </td>
            <td> {{ invoice.forCompany }} </td>
        </tr>
        <tr>
            <td>
                {{ invoice.byCompany.street }}
                {{ invoice.byCompany.stNumber }}
                {{ invoice.byCompany.postCode }}
                {{ invoice.byCompany.city }}
            <td>
                {{ invoice.forCompany.street }}
                {{ invoice.forCompany.stNumber }}
                {{ invoice.forCompany.postCode }}
                {{ invoice.forCompany.city }}
            </td>
        </tr>
        <tr>
            <td>
                {% if invoice.byCompany.nip is not empty%}
                    NIP: {{ invoice.byCompany.nip }}
                {% endif %}
            </td>
            <td>
                {% if invoice.forCompany.nip is not empty%}
                    NIP: {{ invoice.forCompany.nip }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% if invoice.byCompany.contactEmail is not empty%}
                    Email: {{ invoice.byCompany.contactEmail }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% if invoice.byCompany.accountNumber is not empty%}
                    {{ 'template.accountNumber'|trans([], 'labels') }}: 
                    {{ invoice.byCompany.accountNumber }}
                {% endif %}
            </td>
        </tr>
    </table>

    <br>

    <table class="table-main">
        <tr>
            <th class="product-name-table">{{ 'template.productService'|trans([], 'labels')|upper }}</th>
            <th>{{ 'template.quantity'|trans([], 'labels')|upper }}</th>
            <th>{{ 'template.netPrice'|trans([], 'labels')|upper }}</th>
            <th>{{ 'template.netValue'|trans([], 'labels')|upper }}</th>
            <th>{{ 'template.vat'|trans([], 'labels')|upper }}</th>
            <th>{{ 'template.grossValue'|trans([], 'labels')|upper }}</th>
        </tr>
        {% for product in invoice.products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.netValue }} {{ product.currency }}</td>
                <td>{{ (product.netValue * product.quantity)|number_format(2) }} {{ product.currency }}</td>
                <td>{{ product.vat }} %</td>
                <td>{{ (product.grossValue * product.quantity)|number_format(2)  }} {{ product.currency }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <hr>

    <table class="table-footer">
        <tr>
            <td class="product-name-table"></td>
            <td>{{ 'template.netTotal'|trans([], 'labels')|capitalize }}:</td>
            <td><b>{{ invoice.netTotal|number_format(2) }} {{ invoice.products[0].currency }}</b></td>
            <td>{{ 'template.grossTotal'|trans([], 'labels')|capitalize }}:</td>
            <td><b>{{ invoice.getTotal|number_format(2) }} {{ invoice.products[0].currency }}</b></td>
        </tr>
    </table>
    <p>{{ invoice.comment }}</p>
</body>
</html>