{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>{{ 'register'|trans([], 'main') }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button class="btn btn-secondary">{{ 'register'|trans([], 'main') }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
