{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name|upper }}{% endblock %}

{% block body %}
    {% for message in app.flashes('registration_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(settingsForm) }}
        <div class="text-center mb-4">
            <h2>{{ 'user.settings'|trans([], 'labels')|upper }}</h2>
        </div> 
        <div class="row">
            <div class="col-6">
                <h3>{{ 'company.info'|trans([], 'labels') }}</h3>
                {{ form_row(settingsForm.name) }}
                {{ form_row(settingsForm.nip) }}
                {{ form_row(settingsForm.regon) }}
                <div class="row">
                    <div class="col-lg-8">
                        {{ form_row(settingsForm.city) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(settingsForm.postCode) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        {{ form_row(settingsForm.street) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(settingsForm.houseNumber) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(settingsForm.localNumber) }}
                    </div>
                </div>
                {{ form_row(settingsForm.accountNumber) }}
            </div>
            <div class="col-6">
                <h3> {{ 'user.invoiceSettings'|trans([], 'labels') }} </h3>
                {{ form_row(settingsForm.baseNumber) }}
                {{ form_row(settingsForm.isMonth) }}
                {{ form_row(settingsForm.invoiceNumberTemplate) }}
                {{ form_row(settingsForm.baseCurrency) }}
                {{ form_row(settingsForm.baseVat) }}
            </div>
        </div>
        <div class="text-right sticky-position">
            <button type="submit" class="btn btn-primary ">{{ 'button.update'|trans([], 'main')|upper }}</button>
        </div>
    {{ form_end(settingsForm) }}
{% endblock %}
