{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name|upper }}{% endblock %}

{% block body %}
    <div class="text-right">
        <a class="btn btn-primary mb-2" href="{{ path('app_product_add') }}">{{ 'button.add'|trans([], 'main') }}</a>
    </div>
    <table class="table table-striped bg-light">
        <thead>
        <tr>
            <th scope="col">{{ 'product.name'|trans([], 'labels') }}</th>
            <th scope="col">{{ 'product.quantity'|trans([], 'labels')|upper }}</th>
            <th scope="col">{{ 'product.netValue'|trans([], 'labels')|upper }}</th>
            <th class="" scope="col">{{ 'product.grossValue'|trans([], 'labels') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td> {{ product.name }} {{ product.forPeriod }} </td>
                <td> {{ product.quantity }} </td>
                <td> {{ product.netValue }} {{ product.currency }} </td>
                <td> {{ product.grossValue }} {{ product.currency }} </td>
                <td>
                    <div class="row justify-content-start">
                        <a href="#" class="col-3 edit-button"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" class="col-3 delete-button"><i class="far fa-trash-alt "></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}