{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name|upper }}{% endblock %}

{% block body %}
    {{ form_start(productForm) }}
        {{ form_row(productForm.name) }}
        {% do productForm.netValue.setRendered() %}
        {% do productForm.grossValue.setRendered() %}
        {% do productForm.quantity.setRendered() %}
        {{ form_row(productForm.vat) }}
        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(productForm) }}
{% endblock %}