{% extends 'base.html.twig' %}

{% block title %}{{ app.user.name|upper }}{% endblock %}

{% block body %}
    <div class="text-right">
        <a class="btn btn-primary mb-2" href="{{ path('app_company_add') }}">Add new</a>
    </div>
    <table class="table table-striped bg-light">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">NIP</th>
                <th scope="col">REGON</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td> {{ company.name }} </td>
                <td> {{ company.nip }} </td>
                <td> {{ company.regon }} </td>
                <td>
                    <div class="row">
                        <a href="#" class="col-4 edit-button"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" class="col-4 delete-button"><i class="far fa-trash-alt "></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}