{% extends 'defaultList.html.twig' %}

{% block header_right %}
    <a class="btn btn-primary mb-2" href="{{ path('app_company_add') }}">{{ 'button.add'|trans([], 'main') }}</a>
{% endblock %}

{% block table_head %} 
    <th scope="col">{{ 'company.company'|trans([], 'labels') }}</th>
    <th scope="col">{{ 'company.nip'|trans([], 'labels')|upper }}</th>
    <th scope="col">{{ 'company.regon'|trans([], 'labels')|upper }}</th>
    <th class="" scope="col">{{ 'company.options'|trans([], 'labels') }}</th>
{% endblock %}

{% block table_body %} 
    {% for company in companies %}
        <tr>
            <td> {{ company.name }} </td>
            <td> {{ company.nip }} </td>
            <td> {{ company.regon }} </td>
            <td>
                <div class="row justify-content-start">
                    <a 
                        href="{{ path('app_company_remove', {'id' : company.id }) }}"
                        class="col-3 edit-button"
                        onclick=" return confirm( '{{ 'company.delete'|trans([], 'labels') }}' )" 
                        >
                        <i class="far fa-trash-alt"></i>
                    </a>
                    <a href="{{ path('app_company_show', {'id' : company.id }) }}" class="col-3 edit-button">
                        <i class="far fa-eye"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block navigation %}
    {{ knp_pagination_render(companies) }}
{% endblock %}